{% extends 'layouts/base.html' %}

{% block content %}

<div>
	<h1>Edit Profile</h1>
	<form action="{{ url_for('edit_my_profile') }}" method="post">
		{{ edit_profile_form.hidden_tag() }}
		<p>
			{{ edit_profile_form.username.label }}<br>
			{{ edit_profile_form.username }}
			{% for error in edit_profile_form.username.errors %}
				<span>[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>
			{{ edit_profile_form.about_me.label }}<br>
			{{ edit_profile_form.about_me }}
			{% for error in edit_profile_form.about_me.errors %}
				<span>[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>{{ edit_profile_form.submit() }}</p>
	</form>
</div>

{% endblock %}