<html>
	<head>
		{% if title %}
			<title>{{ title }} - Artikulo</title>
		{% else %}
			<title>Welcome to Artikulo</title>
		{% endif %}
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.0/dist/semantic.min.css">
		{% assets "general_css" %}
			<link rel="stylesheet" href="{{ ASSET_URL }}" />
		{% endassets %}
	</head>
	<body>
		<div class="ui fixed menu">
			<div class="container">
				<a class="header item" href="{{ url_for('home') }}">
					<img src="{{ url_for('static', filename = 'images/artikulo-logo.png') }}" />
				</a>

				{% if current_user.is_authenticated %}
					<a class="item" href="{{ url_for('new_post') }}">New Post</a>
					<a class="item" href="{{ url_for('my_articles') }}">My Articles</a>
					<a class="item" href="{{ url_for('show_profile', username = current_user.username) }}">Profile</a>
					<a class="item" href="{{ url_for('logout') }}">Logout</a>
				{% else %}
					<a class="item" href="{{ url_for('register') }}">Register</a>
					<a class="item" href="{{ url_for('login') }}">Login</a>
				{% endif %}
			</div>
		</div>
		<div id="body-container">
			<div class="ui centered row">
				{% if current_user.is_authenticated %}
					<h1>{{ _('Hi, %(username)s!', username=current_user.username) }}</h1>
				{% endif %}
				{% with messages = get_flashed_messages() %}
					{% if messages %}
						<div>
							{% for message in messages %}
								<div>{{ message }}</div>
							{% endfor %}
						</div>
					{% endif %}
				{% endwith %}
			</div>
			{% block content %}
			{% endblock %}
		</div>
	</body>
	{% assets "general_js" %}
		<script src="{{ ASSET_URL }}"></script>
	{% endassets %}
	<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.0/dist/semantic.min.js"></script>
	{{ moment.include_moment() }}
</html>