<html>
	<head>
		{% if title %}
			<title>{{ title }} - Artikulo</title>
		{% else %}
			<title>Welcome to Artikulo</title>
		{% endif %}
	</head>
	<body>
		<div>
			<a href="{{ url_for('home') }}">Home</a>

			{% if current_user.is_authenticated %}
				<a href="{{ url_for('new_post') }}">New Post</a>
				<a href="{{ url_for('my_articles') }}">My Articles</a>
				<a href="{{ url_for('view_profile') }}">Profile</a>
				<a href="{{ url_for('logout') }}">Logout</a>
			{% else %}
				<a href="{{ url_for('register') }}">Register</a>
				<a href="{{ url_for('login') }}">Login</a>
			{% endif %}
		</div>
		<div>
			{% if current_user.is_authenticated %}
				Hi {{ current_user.profile[0].first_name }}!
			{% endif %}
			{% with messages = get_flashed_messages() %}
				{% if messages %}
					<ul>
						{% for message in messages %}
							<li>{{ message }}</li>
						{% endfor %}
					</ul>
				{% endif %}
			{% endwith %}
		</div>

		{% block content %}
		{% endblock %}
	</body>
</html>